@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fcf8f2;
  --foreground: #1e1b4b;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

